/*   
.signup-logo {
  max-width: 150px;
  margin: 0 auto 2rem;
  display: block;
  border-radius: 50%;
  transition: transform 0.3s ease;
}*/
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /*min-height: 100vh;*/
  padding: 1rem;
  background-color:#F8F9FA;
  }
  
  
  .signup-box {
    width: 100%;
    max-width: 450px;
    padding: 1rem;
    background: #1A237E;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(255, 215, 0, 0.1);
  }
  
  
  .signup-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #FFA500;
    font-family: "Arial";
  }
  
  .select {
    width: 100%;
    padding: 0.8rem;
    border: 2px solid #FFA500;
    border-radius: 4px;
    background: #F8F9FA;
    color: #000000;
    font-size: 1rem;
    appearance: none;
  }
  
  .select:focus {
    outline: 3px solid #FFA500;
  }
  
  .custom-select{
    background: #FFA500 ;
    color: #F8F9FA;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  .signup-button {
    width: 100%;
    padding: 1rem;
    background: #FFA500 ;
    color: #F8F9FA;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 1rem;
    transition: opacity 0.3s;
  }
  
  .signup-button:hover {
    opacity: 0.9;
  }
  
  @media (max-width: 768px) {
    .signup-hero img {
      max-width: 120px;
    }
    
    .signup-box {
      padding: 1.5rem;
    }
    
    .signup-title {
      font-size: 1.3rem;
    }
  }
  
  @media (max-width: 480px) {
    .signup-box {
      padding: 1rem;
    }
    
    select, input {
      padding: 0.7rem;
    }
  }